$max-mobile-width: 736px;

page-home {
  ion-card-header {
    background-color: color($colors, primary);
    color: #fff;
  }

  .twitter-timeline-container {
    padding: 20px 10px;
  }

  .about p {
    margin-bottom: 15px;
  }

  .scores-content {
    padding: 10px 0;
  }

  .circle {
    border-radius: 50%;
    max-height: 128px;
    max-width: 128px;
    display: block;
    margin: 10px auto;
    
  }

  // Fix some things on mobile
  @media only screen and (max-width: $max-mobile-width) {
    .scores-content .item-md,
    .scores-content .item-ios {
   //   font-size: 80%;
   //   padding-left: 5px;
    }

    .scores-content .score {
   //   display: none;
    }
  }
}
