<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form class="search row" (ngSubmit)="searchTeams()">
    <ion-item>
      <ion-input placeholder="Search teams.." type="text" [(ngModel)]="searchName" name="searchName"></ion-input>
    </ion-item>
    <button ion-button block type="submit">Search</button>

  </form>

  <ion-list *ngIf="!searchResults" no-lines>
    <span *ngFor="let score of scores" class='score-item'>
      <button ion-item (click)="teamSelected(score)" text-wrap>
        <span item-left class="place">{{ score.place }}</span>
        <h2>{{ score.team_name }}</h2>
        <p ion-text class='score' color="secondary">{{ score.score }} points</p>
      </button>
    </span>
  </ion-list>

  <ion-list text-wrap *ngIf="searchResults">
    <span *ngFor="let score of scores" class='score-item'>
      <ion-item (click)="teamSelected(score)">
        {{ score.team_name }}, {{ score.year }}
      </ion-item>
    </span>
  </ion-list>
</ion-content>
