<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form (ngSubmit)="searchTeams()">
    <ion-item>
      <ion-input placeholder="Search teams.." type="text" [(ngModel)]="searchName" name="searchName"></ion-input>
    </ion-item>
    <button ion-button outline class="search-button">
      Search
    </button>
  </form>
  <ion-list>
    <span *ngFor="let score of scores" class='score-item'>
      <button ion-item (click)="teamSelected(score)">
        <span *ngIf="searchResults">
          {{ score.team_name }}, {{ score.year }}
        </span>
        <span *ngIf="!searchResults">
          {{ score.place }}: {{ score.team_name }}
          <ion-badge item-right class='score'>{{ score.score }}</ion-badge>
        </span>
      </button>
    </span>
  </ion-list>
</ion-content>
