.team-name {
  margin-bottom: 15px;
}
.hour {
  color: color($colors, primary);
  min-height: 36px;
  min-width: 48px;
  display: block;
  font-size: 250%;
  text-align: center;
}

.place {
  margin-left: 10px;
  color: black;
}
